li{
  display: inline;
  float: left;
  color: #434343;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #737373;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px;
  border-width: 2px;
  border-style: none;
  border-color: initial;
  border-image: initial;
  width: 268px;
}
h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
em {
  font-style: normal;
}
body{
  font-size: 12px;
}
#header{

  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
div, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, tr, th, td, form, fieldset, legend, select, textarea, label {
  margin: 0;
  padding: 0;
}
#header h1 {

  position: relative;
  width: 159px;
  z-index: 200;
  height: 21px;
  float: left;
  padding: 7px 30px 0 0;
  margin: 0;
}
#header h1 .bar {
  float: left;
  overflow: hidden;
  width: 1px;
  height: 13px;
  margin: 6px 10px 0 8px;
  background-color: #d2d2d2;
  line-height: 999px;
  vertical-align: top;
}
table, img, fieldset, button {
  border: 0;
}
#snb_wrap .snb_search_box .snb_search_text {
  width: 100%;
  border: 0;
  color: #737373;
  font: 12px '돋움',Dotum,Helvetica,sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  
}
#snb_wrap .ph {
  position: relative;
  top: 0;
  left: 10px;
  bottom: 0;
  line-height: 35px;
  color: #737373;
}

#snb_wrap .snb_search_box_sub {
  float: left;
  position: relative;
  z-index: 50;
  width: 268px;
  height: 35px;
  line-height: 35px;
  padding: 0 35px 0 10px;
  border: 1px solid #e5e5e5;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: none;
  border-image: initial;
}

#header h1 .Ntxt_naver{
  float: left;
  width: 53px;
  height: 10px;
  background-position: 0 -170px;
  margin-top: 8px;
  font-size:17px;
  color: transparent;
  background-image: url("Nlogo.png");

}
#snb_wrap .btn_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border: 0;
  background: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  cursor: pointer;
  padding: 8px;
  background-image: url("search_icon.png");
  background-size: 100%;
  background-color: transparent;
  color: transparent;
}
#header h1 .Ntxt_comic{
  float: left;
  width: 40px;
  height: 21px;
  background-position: -65px -170px;
  margin-left: 7px;
  font-size:23px;
}
#header h1 .Ntxt_web_nobel{
  float: left;
  width: 40px;
  height: 15px;
  background-position: -120px -170px;
  margin-top: 4px;
  font-size:15px;
  color: #676767;
}
element.style {
  display: block;
}

.gnb_lst:after {
  display: block;
  clear: both;
  content: '';

}
.gnb_lst {
  position: absolute;
  text-align: right;
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 89px;
  margin: 0 14px 0 0;

}
#gnb {
  width: 108px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 10px; 
  z-index: 2147483646;
  font-family: '나눔고딕',NanumGothic,'돋움',Dotum,'Apple SD Gothic Neo',Helvetica,Sans-serif !important;
  color: #444;
  font-size: 12px;
  letter-spacing: 0 !important;
  line-height: normal !important;
  text-align: right !important;


}
.gnb_login_li, .gnb_my_li, .gnb_notice_li, .mail_li, .gnb_service_li {
  float: left;
  margin-right: 2px;
  overflow: visible;
}
.gnb_login_li {
  height: 23px;
  padding: 5px 7px 0 0;
}
.gnb_btn_login{
  border: 1px;

}
.gnb_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 20px;
  padding-left: 1px;
  line-height: 21px;
  color: #777;
  text-align: center;
  border: 1px solid#dbd7d7
}
#header_wrap #menu ul.menu .bar {
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #ced2d6;
  vertical-align: top;
  margin-top: 14px;
}
#header_wrap #menu ul.menu li a {
  display: inline-block;
  height: 39px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}
#header_wrap #menu .Ntxt_genre_novel{
  color: #676767;
}
#header_wrap #menu .Ntxt_webtoon{
  color: white;
}
#header_wrap #menu .Ntab_selected{
  background-color: #2fd648;

}

#menu{
  height:40px;
  box-sizing: border-box;
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  


}

ul.submenu li{
  float: left;
  margin-right: 25px;
}

#submenu{
  padding-top:11px;
  padding-bottom:11px;
  height:40px;
  width:960px;
  font-size:12px;
  float: left;
  margin-left: 9px;
  box-sizing: border-box;
  border-bottom: 1px solid #F2F2F2;
  background-color: #FAFAFA;

}

#submenu .on{

  font-weight: bold;
  text-align: center;
  margin-left: 5px;
}
#header_wrap #menu .Ntxt_short_story{
  color: #676767;
}
.category_tab li.on a {
  padding-bottom:12px;
  font-weight: bold;
  color: #00c85e;
  border-bottom: 2px solid #00d564;
}
.category_tab {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 16px;
  height: 27px;
}
.category_tab li{
  margin-right: 14px;
}
#container:after {
  display: block;
  clear: both;
  content: '';
}
div {
  display: block;
}
#content {
  float: left;
  position: relative;
  width: 694px;
  padding-left: 10px;
}